<% provide(:title, 'About') %>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="jumbotron jumboimage">
      <div class="jumbotext">
        <h1 class="over" style="font-weight: 800;">About us</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="borderg">
    <div class="row">
      <div class="col-12 col-sm-12">
        <h4 style="text-align: center;">We are in the business of providing excellent
          laundry<br> and drycleaning services<br> aimed at improving the standard of living
          <br> of all our clients and customers</h4>
      </div>
    </div>
    <p style="padding:10px;"></p>
    <div class="row">
      <div class="col-12 col-sm-6 borderf">
        <h2 style="text-align: center;">Vision</h2>
        <h5 style="text-align: center;">To provide excellent laundry<br> and drycleaning services aimed at<br>
          improving the standard of living<br> of all our customers and clients</h5>
      </div>
      <div class="col-12 col-sm-6 borderf">
        <h2 style="text-align: center;">Mission</h2>
        <h5 style="text-align: center;">We aim to remove from our clients<br> the stress of thinking
          of what to<br> wear and help to give them<br> a compelling elegance</h5>
      </div>
    </div>
  </div>
</div>


<p style="padding:30px;"></p>
<div class="bluecont well">
  <div class="col-12 col-sm-6">
    <img src="/assets/Side3.png" height="500px">
  </div>
  <div class="col-12 col-sm-6 bustext">
    <h3 style="font-weight: lighter; font-size: 50px">Introducing!</h3>
    <h2 class="test1" style="font-size: 50px;">Mobile Pick-up &amp; <br> Delivery Service</h2>
    <p style="font-weight: lighter; font-size: 20px;">On-demand Stress free drycleaning</p>
  </div>
</div>
<p style="padding:1px;"></p>
<div class="container" style="display: flex;
    align-items: center;
    justify-content: center;">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2 btn-square" role="group" aria-label="First group">
      <a href="#"><button type="button" class="btn lbtn">Learn more</button></a>
    </div>
    <div class="btn-group mr-2 btn-square" role="group" aria-label="Second group">
      <a href="#"><button type="button" class="btn lbtn">Start here</button></a>
    </div>
  </div>
</div>
<p style="padding:1px;"></p>
<div class="bluecont1">
  <div class="container" style="display: flex;
      align-items: center;
      justify-content: center;">
    <div class="well">
      <h3>Get in touch with us today!</h3><p style="padding:20px;"></p>
      <a href="#"><button type="button" class="btn btn-lg cbtn">Contact us</button></a>
    </div>
  </div>
</div>
