<% provide(:title, 'Contact') %>
<%= render 'users/whiteheader' %>
  <div class="container">
    <div class="col-12">
      <i class="material-icons md-48 darkblue" style="display: inline-block;
          width: 100%;">mail_outline</i>
      <h4 style="text-align: center;">Need a facility inspection, special cleaning services<br> or just to say hi. Send us a message
        and we will<br> get back to you soon</h4>
    </div>
  </div>
<p style="padding:1px;"></p>

</div>
