<div class="jumbotron jumboimage">
  <div class="container">
    <div class="col-12 col-sm-12">
     <div class="jumbotext">
        <h1 class="over">Neat, Confident, Corporate and Elegant</h1>
        <h3 class="just">Let us take away from you the strain of dirty clothes</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12">
      <h4>We are in the business of providing excellent laundry and drycleaning
        services aimed at improving the standard of living of all our clients and customers</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12 col-sm-12">
    <h3 style="text-align: center;"><span style="font-size: 1em">Our Services</span></h3>
  </div>
</div>

<div class="container">
  <div class="col-12 col-sm-3">
    <img src="/assets/B-01.png" alt="Drycleaning" style="width: 100%;">
    <div class="centered">Drycleaning</div>
  </div>
</div>

