<% provide(:title, 'Edit user') %>

<%= render 'users/whiteheader' %>

<h3 style="text-align: center; color: #083944;">Update your profile</h3>
<div class="row">
  <div class="col-12 col-md-4 offset-md-4">
    <%= render 'forms' %>
  </div>
</div>

<%= render 'layouts/getintouch' %>