<% provide(:title, 'Edit user') %>

<%= render 'users/whiteheader' %>

<i class="material-icons md-48 darkblue" style="display: inline-block;
    width: 100%;">build</i>
<h3 style="text-align: center; color: #083944;">Update your profile</h3>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 offset-md-4">
      <%= render 'forms' %>
    </div>
  </div>
</div>


<%= render 'layouts/getintouch' %>