<% provide(:title, 'All users') %>

<%= render 'users/whiteheader' %>
<h3 style="color: #083944; text-align: center;">All users</h3>

<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>