<% provide(:title, 'All users') %>

<%= render 'users/whiteheader' %>
<h3 style="color: #083944; text-align: center;">All users</h3>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>