<% provide(:title, @user.name) %>

<div class="contactbody">
  <nav class="navbar fixed-top navbar-inverse navbar-expand-lg bg-company-white">
    <a class="navbar-brand" href="#">
      <%= link_to image_tag('/assets/logodark.png', height: '49px', width: '138px',
                            class: 'd-inline-block align-top', alt: 'Nitkleeners',), root_path %>
      <!-- <img src="/assets/G.png" height="50px" class="d-inline-block align-top" alt="">-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <i class="material-icons md-24 darkblue">account_circle</i>
        <%= @user.name %>
      </ul>
    </div>
  </nav>
</div>
