/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require evil-icons
 *= require material_icons
 */


@import "bootstrap";
@import "static_pages";
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');

* {
  font-family: 'Montserrat', sans-serif;
}

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.material-icons.darkblue {
  color: #083944;
}

.navbar {
  background: transparent;
}

.bg-company-red {
  position: absolute;
 }

.bg-company-blue {
  background-color: #083944;
  position: absolute;
}

.bg-company-white {
  background-color: white;
  border-bottom: 2px solid #083944 !important;
}

.bg-company-white .collapse  ul li a {
  color: #083944;
}

.btn-group.btn-square {
  border-radius: 0;
}

nav li {
  display: inline;
  padding-right: 50px;
  font-weight: 500;
}

.navbar ul li a {
  color:white;
}

.navbar ul li a:hover {
  color:#C1C1C1;
}

.navbar ul li a.sbtn:hover {
  color:#083944;
}

.navbar ul li a.sbtn1:hover {
  color:white;
}

.jumboimage {
  width: 100%;
  height: 300px;
  display: block;
  background-size: cover;
  background-image: image-url("dry-cleaning-suits-slide.png")
}

.jumboimage1 {
  width: 100%;
  height: 300px;
  display: block;
  background-size: cover;
  background-image: image-url('Iss.png');
}

.jumbotext {
  color: #ffffff;
  text-align: center;
}

.jumbotron {
  margin-top: 0px;
  background-size: cover;
}

.over{
  margin-top: 70px;
  font-weight: 600;
}

.just {
  margin-top: 30px;
  font-size: 1.5em;
  font-weight: lighter;
}

.services {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.serve {
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.well {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.bustext {
  padding-left: 50px;
}

.bluecont {
  padding: 50px;
  background-color: #083944;
}

.bluecont1 {
  padding: 20px;
  background-color: #083944;
}

hr{
  border: 0.5px solid #000000;
}


/* learn more button*/

.lbtn {
  color: black;
  background-color: #FFFFFF;
  border-color: #083944;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.lbtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.lbtn:hover, .lbtn:focus, .lbtn:active {
  color: white;
  background-color: #083944;
  border-color: white;
}
.lbtn:hover:before, .lbtn:before, .lbtn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.sbtn {
  color: white;
  background: transparent;
  border-color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.sbtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.sbtn:hover, .sbtn:focus, .sbtn:active {
  color: #083944;
  background-color: white;
}
.sbtn:hover:before, .sbtn:before, .sbtn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.sbtn1 {
  color: #083944;
  background: transparent;
  border-color: #083944;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.sbtn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.sbtn1:hover, .sbtn1:focus, .sbtn1:active {
  color: white;
  background-color: #083944;
}
.sbtn1:hover:before, .sbtn1:before, .sbtn1:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.cbtn {
  color: black;
  background-color: #083944;
  border-color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cbtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.cbtn:hover, .cbtn:focus, .cbtn:active {
  color: white;
  background-color: #083944;
  border-color: black;
}
.cbtn:hover:before, .cbtn:before, .cbtn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

footer {
  text-align: center;
  font-weight: 300;
  padding: 20px;
  background-color: #333333;
}

footer p {
  color: #FFFFFF;
}

footer a {
  color: #FFFFFF;
}

.footerlink:hover{
  color: #C1c1c1;
}
/* add code for dropdown */

.dropdown .dropdown-menu a{color: #000;}
.dropdown .dropdown-menu a:hover{color: #C1C1C1;}

a.footerlink:not(:first-child) {
  border-left: 1px solid black;
}

.footerlink {
  padding:0 5px;
}

.contus {
  float: left;
  margin-top: 50px;
  text-decoration: none;
}

.borderg{
  padding: 50px;
  border: solid transparent;
  background-color: #EDEDED;
}

.borderf {
  line-height: 3em;
  border-top: 1px solid #083944;
  border-bottom: 1px solid #083944;
  padding:3em;
  float: left;
}

.navbar-toggler {
  background-color: #083944;
}

.contactbody {
  padding-top: 70px;
}

i.darkblue {
  text-align:center;
}

.icon {
  fill: #083944;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
  }
  li a {
    color: #083944;
  }
}