<div class="bluecont well">
  <div class="col-6">
    <%= image_tag 'Side3.png', height: '500px', alt: 'Blue Bus' %>
  </div>
  <div class="col-6 bustext">
    <h3 style="font-weight: lighter; font-size: 50px">Introducing!</h3>
    <h2 class="test1 img-fluid" style="font-size: 50px;">Mobile Pick-up &amp; <br> Delivery Service</h2>
    <p style="font-weight: lighter; font-size: 20px;">On-demand Stress free drycleaning</p>
  </div>
</div>
<p style="padding:1px;"></p>
<div class="container" style="display: flex;
    align-items: center;
    justify-content: center;">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2 btn-square" role="group" aria-label="First group">
      <%= link_to 'Learn more', about_path, class: 'btn lbtn' %>
      <!--<a href="#"><button type="button" class="btn lbtn">Learn more</button></a>-->
    </div>
    <div class="btn-group mr-2 btn-square" role="group" aria-label="Second group">
      <%= link_to 'Start here', login_path, class: 'btn lbtn' %>
      <!--<a href="#"><button type="button" class="btn lbtn">Start here</button></a>-->
    </div>
  </div>
</div>