<footer>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= link_to 'Contact us', contact_path, class: 'footerlink contus' %>
     <!-- <a href="#" class="footerlink" style="float: left; margin-top: 50px; text-decoration: none;">Contact us</a>-->
    </div>
    <div class="col-12 col-sm-4">
      <p>08125025265</p>
      <p>info@nitkleeners.com</p>
      <p>7, Faramobi Ajike Str., Anthony Village, Lagos</p>
    </div>
    <div class="col-12 col-sm-4">
      <a href="#" class="footerlink"
         style="float: right; margin-top: 50px; text-decoration: none;">About us</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-6">
      <p style="float: left;">&copy; 2017 Nitkleeners Services Limited</p>
    </div>
    <div class="col-12 col-sm-6">
      <div style="float: right">
        <a href="#" class="footerlink">Terms of use</a>
        <a href="#" class="footerlink">Pick-up &amp; Delivery</a>
      </div>
    </div>
  </div>
</footer>