<div class="bluecont1">
  <div class="container" style="display: flex;
      align-items: center;
      justify-content: center;">
    <div class="well">
      <h3>Get in touch with us today!</h3><p style="padding:20px;"></p>
      <a href="#"><button type="button" class="btn btn-lg cbtn">Contact us</button></a>
    </div>
  </div>
</div>