<div class="bluecont1">
  <div class="container" style="display: flex;
      align-items: center;
      justify-content: center;">
    <div class="well">
      <h3>Get in touch with us today!</h3><p style="padding:20px;"></p>
      <%= link_to 'Contact us', contact_path, class: 'btn btn-lg cbtn' %>
    </div>
  </div>
</div>